<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--装配集合只能用 constructor-arg-->

    <bean class="soundsystem2.collections.BlankDisc" id="blankDisc">
        <constructor-arg value="断桥残雪"/>
        <constructor-arg value="vae" />
        <constructor-arg>
            <list>
                <value>Sgt. Pepper's Lonely Hearts Club Band</value>
                <value>With a Little Help from My Friends</value>
                <value>Lucy in the Sky with Diamonds</value>
                <value>Getting Better</value>
                <value>Fixing a Hole</value>
                <value>She's Leaving Home</value>
                <value>Being for the Benefit of Mr. Kite!</value>
                <value>Within You Without You</value>
                <value>When I'm Sixty-Four</value>
                <value>Lovely Rita</value>
                <value>Good Morning Good Morning</value>
                <value>Sgt. Pepper's Lonely Hearts Club Band (Reprise)</value>
                <value>A Day in the Life</value>
            </list>
        </constructor-arg>
    </bean>


</beans>